<div class="card text-black picture-of-the-day d-none">
  <img class="px-3 pt-3" class="card-img-top" alt="NASA Image" />
  <div class="card-body">
    <div class="text-center">
      <h5 class="card-title"></h5>
      <a class="btn btn-primary mt-3">About Picture</a>
    </div>
  </div>
</div>
